body.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/*background-color: grey;*/
	opacity: 1;
	z-index: 1;
	position: relative;
	background: white;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: scroll;
}

/*body video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}*/

.container {
	position: relative;
	z-index: 2;
	background-color: #f2f2f2;
}


/*
@media ( pointer : coarse) and (hover: none) {
	body {
		background: url('https://source.unsplash.com/XT5OInaElMw/1600x900')
			black no-repeat center center scroll;
	}
	body video {
		display: none;
	}
}*/
